<h1>New Stock</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.management_stock_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.management_stock_path(@conn, :index) %></span>
